#firstHeading {
    text-align:center;
}
.threeCols{
    column-count:3;
    column-gap:15px;
}
#fullWidthP{
    column-span:all;
}
div p {
    column-span:none;
}
p {
    text-align:justify;
}
.stubbornP{
    margin-top:0;
}
.twoCols {
    column-count:2;
    column-gap:15px;
}
/*body{
    background-color: gray;  
}
introText{
    color:white;
    font-family: 'Anton', sans-serif;
}*/
